---
---

$backgroundColor: #201F1D;
$textColor: #fff;
$linkColor: #6ABED8;

html, body {
    padding: 0;
    margin: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: $linkColor;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 3vmax;
}

h2 {
    font-size: 2.5vmax;
}

h3 {
    font-size: 2vmax;
}

h4 {
    font-size: 1.7vmax;
}

h5 {
    font-size: 1.5vmax;
}

h6 {
    font-size: 1.2vmax;
}

.app {
    background-color: $backgroundColor;
    color: $textColor;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5vh 5vw;
}

.nav {
    ol {
        margin: 0;
        counter-reset: item;
    }

    ol:first-child {
        padding: 0;
    }

    li {
        display: block;
    }

    li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

    span, a {
        display: inline-block;
        margin-bottom: 3px;
        font-size: 1.2em;
    }
}

.note-content {
    font-size: 1.3rem;
}