---
---

$backgroundColor: #201F1D;
$textColor: #fff;
$linkColor: #6ABED8;

html, body {
    padding: 0;
    margin: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: $linkColor;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 5vmin;
}

h2 {
    font-size: 4.5vmin;
}

h3 {
    font-size: 4vmin;
}

h4 {
    font-size: 3.5vmin;
}

h5 {
    font-size: 3vmin;
}

h6 {
    font-size: 2.7vmin;
}

.app {
    background-color: $backgroundColor;
    color: $textColor;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5vh 5vw;
}

.nav {
    ol {
        margin: 0;
        counter-reset: item;
    }

    ol:first-child {
        padding: 0;
    }

    li {
        display: block;
    }

    li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

    span, a {
        display: inline-block;
        margin-bottom: 3px;
    }

    span, a, li:before {
        font-size: 3.5vmin;
    }
}

.note-nav {
    display: flex; 
    justify-content: space-between;
}

.note-nav a {
    margin-top: auto; 
    margin-left: 10px;
    font-size: 3vmin;
}

.note-content {
    font-size: 4vmin;
}